.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cabecalhoPrincipal-nav {
    display: flex;  /* organiza os elementos filhos em linha */
}
.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}
.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm {
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}
.rodapePrincipal-navMap-list {
    display: flex;
    /*flex-direction: column; /* muda a direção do flex para vertical */
    /*flex-wrap: wrap; /* quebra os elementos de acordo com a altura '250px' */
    flex-flow: column wrap; /* faz o mesmo que os dois comandos acima */
    height: 250px;
}
.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}
.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}
/* pega os filhos multiplos de 4 (coluna da direita)*/
.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;
}
/* pega os filhos multiplos de 4 +1 coluna da esquerda)*/
.conteudoPrincipal-cursos-link:nth-child(4n+1) { 
    /* começa no 0, 0+1=elemento1 +4= elemento5 +4=...*/
    margin-left: 0;
}

/* PARTE MOBILE */
/* Para colocar o código para mobio, é necessário
envolver o código em media query com tamanho máximo de
768 (tablet)*/
@media(max-width: 768px) {
    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }
    .conteudoPrincipal-cursos {
        flex-direction: column;
    }
    .conteudoPrincipal-cursos-link {
        width: 100%;
        margin: 1% 0%;
    }
    .rodapePrincipal-navMap-list {
        height: auto;
    }
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }
    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }
}